# Ignore virtual environment
.venv/
venv

# Ignore data directory
data/
model_output/


# Ignore directory
.ipynb_checkpoints/

# Ignore directory
.vscode

# Ignore cache
__pycache__/

# Ignore file extension
*.pth