# Seismic data processing
obspy==1.3.0  # For MiniSEED handling and seismic data analysis

# Data visualization
matplotlib==3.6.2
plotly==5.10.0
dash==2.18.1
dash_mantine_components==0.14.5
dash-bootstrap-components==1.6.0

# Model conversion
# onnx==1.18.0  # For converting models to ONNX format
# onnx2c # Optional for converting ONNX models to C code

# CI/CD and Testing
pytest==7.2.0  # Unit testing framework

# Data version control (DVC)
#dvc==2.17.0  # Versioning for large seismic datasets

# Additional tools for streamlining data download and management
pyyaml==6.0  # Configuration files handling

# For HTTP requests and API integration
requests==2.28.1
